body {
	margin-top: 20px;
	margin-bottom: 50px;
	background: none;
}

.radio {
  margin-top: 0px!important;
}

::selection {
	background: #fff!important; /* Safari */
}
::-moz-selection {
	background: #fff; /* Firefox */
}

.full {
  /* background: url(http://placehold.it/1920x1080/ededed/ededed/) no-repeat center center fixed;*/
  background: url(../img/abstract.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/****  Form Builder   ********************************************************
*/
#mainHolder {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 6px;
  box-shadow: 1px 1px 3px rgba(0,0,0,.4);
  padding-bottom: 15px;
  margin-bottom: 70px;
}

#formVisualizer form {
  padding: 7px;
  min-height: 150px;
}

.area {
  border: 1px solid #ccc;
}

#componentHolder .tab-pane {
  padding: 15px 0 15px 0;
}

#target {
  min-height: 150px;
}

#formSource {
  width: 100%;
  min-height: 200px;
  font-family:Verdana, Arial, Sans-Serif;
  font-size: 11px;
}

.ui-sortable-helper{
  -moz-box-shadow: 10px 10px 5px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
  box-shadow: 10px 10px 5px #888;
  background-color: #fff!important;
}

/****  Menus   ********************************************************
*/
#contextMenu {
  position: absolute;
  display:none;
  z-index: 99999;
}

/****  The edit form   ********************************************************
*/
#editForm {
  min-height: 100px!important;
  border: 1px solid #efefef;
  background-color: white!important;
  margin-bottom: 15px;
  border-bottom: 1px solid #6b6b6b;
  border-right: 1px solid #6b6b6b;
  
  -moz-box-shadow: 10px 10px 5px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
  box-shadow: 10px 10px 5px #888;
}

#editForm h2, h3 {
  margin-top: 0px;
  padding-top: 0px;
}

#editConfirm {
  margin-right: 5px;
}

#editForm .form-group div[class^='col-'] {
  pointer-events: auto!important;
}

#editForm .form-group {
  margin: 20px 0 20px 0;
}

#editForm  .form-group label {
  font-size: 15px;
}

/* Highlight */
.highLight {
  background-color: #fffbed;
  margin-left: 5px;
  margin-right: 5px;
}

/****  Override bootstrap standard   ********************************************************
*/

/* Wizard */
#mainWizard .navbar {
  margin-top: 10px;
}

.form-horizontal .form-group.highLight {
  margin-right: 0px!important;
  margin-left: 0px!important;
  
  padding-top: 20px;
  
  border: 1px solid #efefef;
  border-bottom: 1px solid #6b6b6b;
  border-right: 1px solid #6b6b6b;
  
  -moz-box-shadow: 10px 10px 5px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
  box-shadow: 10px 10px 5px #888;
}

label {
  font-weight: normal!important; 
}

.form-group div[class^='col-'] {
  pointer-events: none;
}

.form-group, .form-group label {
  cursor: pointer;
}

.form-group:hover  {
  /* No hover effect */
}

.sr-only {
  position: relative!important;
}