<div class="form-group">

  <!-- Text input -->
  <label class="col-sm-4 control-label" for="textInput">Text Input</label>
  <div class="col-sm-7">
    <input id="textInput" name="textInput" type="text" placeholder="placeholder" class="form-control">
    <p class="help-block">help</p>
  </div>
</div>

<div class="form-group">
  
  <!-- Password input -->
  <label class="col-sm-4 control-label" for="passwordInput">Password Input</label>
  <div class="col-sm-7">
    <input id="passwordInput" name="passwordInput" type="password" placeholder="placeholder" class="form-control">
    <p class="help-block">help</p>
  </div>
</div>

<div class="form-group">
  
  <!-- Prepend Text -->
  <label class="col-sm-4 control-label" for="prependText">Prepend Text</label>
  <div class="col-sm-7">
    <div class="input-group">
      <span class="input-group-addon">prepend</span>
      <input id="prependText" name="prependText" type="text" class="form-control" placeholder="placeholder">
    </div>
    <p class="help-block">help</p>
  </div>
</div>

<div class="form-group">

  <!-- Append Text -->
  <label class="col-sm-4 control-label" for="appendText">Append Text</label>
  <div class="col-sm-7">
    <div class="input-group">
      <input id="appendText" name="appendText" type="text" class="form-control" placeholder="placeholder">
      <span class="input-group-addon">append</span>
    </div>
    <p class="help-block">help</p>
  </div>
</div>

<div class="form-group">

  <!-- Prepend Checkbox -->
  <label class="col-sm-4 control-label" for="prependCheckbox">Prepend Checkbox</label>
  <div class="col-sm-7">
    <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox">
      </span>
      <input id="prependCheckbox" name="prependCheckbox" type="text" class="form-control" placeholder="placeholder">
    </div>
    <p class="help-block">help</p>
  </div>
</div>

<div class="form-group">
  
  <!-- Append Checkbox -->
  <label class="col-sm-4 control-label" for="appendCheckbox">Append Checkbox</label>
  <div class="col-sm-7">
    <div class="input-group">
      <input id="appendCheckbox" name="appendCheckbox" type="text" class="form-control" placeholder="placeholder">
      <span class="input-group-addon">
        <input type="checkbox">
      </span>
    </div>
    <p class="help-block">help</p>
  </div>
</div>

<div class="form-group">
  
  <!-- Button dropdown -->
  <label class="col-sm-4 control-label" for="buttonDropdown">Button Dropdown</label>
  <div class="col-sm-7">
    <div class="input-group">
      <input id="buttonDropdown" name="buttonDropdown" type="text" class="form-control" placeholder="placeholder">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
        <ul class="dropdown-menu pull-right" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
    </div>
    <p class="help-block">help</p>
  </div>
</div>

<div class="form-group">

  <!-- Textarea -->
  <label class="col-sm-4 control-label" for="textarea">Text Area</label>
  <div class="col-sm-7">
    <div class="input-group">
      <textarea id="textarea" name="textarea" class="form-control">Default text</textarea>
    </div>
    <p class="help-block">help</p>
  </div>
</div>