 <div class="form-group">
    
  <!-- Inline radios -->
  <label class="col-sm-4 control-label">Inline radios</label>
  <div class="col-sm-7">
    <label class="radio-inline" for="radios">
      <input id="radios-0" name="radios" value="option0" type="radio">
      Option 0
    </label>
    <p class="help-block">help</p>
  </div>
 </div>

<div class="form-group">
  
  <!-- Multiple radios -->
  <label class="col-sm-4 control-label" for="textInput">Multiple radios</label>
  <div class="col-sm-7">
    <label class="radio" for="radios">
      <input type="radio" name="radios" id="radios-0" value="Option one" checked="checked">
      Option one
    </label>
    <label class="radio" for="radios">
      <input type="radio" name="radios" id="radios-1" value="Option two">
      Option two
    </label>
    <p class="help-block">help</p>
  </div>
</div>

<div class="form-group">

  <!-- Inline checkbox -->
  <label class="col-sm-4 control-label">Inline checkboxes</label>
  <div class="col-sm-7">
    <label for="checkboxes" class="checkbox-inline">
      <input id="checkboxes-0" name="checkboxes" value="option0" type="checkbox">
      Option 0
    </label>
    <p class="help-block">help</p>
  </div>
</div>

<div class="form-group">

  <!-- Multiple checkboxes -->
  <label class="col-sm-4 control-label" for="textInput">Multiple checkboxes</label>
  <div class="col-sm-7">
    <label class="checkbox" for="checkboxes">
      <input type="checkbox" name="checkboxes" id="checkboxes-0" value="Option one" checked="checked">
      Option one
    </label>
    <label class="checkbox" for="checkboxes">
      <input type="checkbox" name="checkboxes" id="checkboxes-1" value="Option two">
      Option two
    </label>
    <p class="help-block">help</p>
  </div>
</div>