<div class="form-group">
  
  <!-- Select single -->
  <label class="col-sm-4 control-label" for="selectSingle">Select Single</label>
  <div class="col-sm-7">
    <select id="selectSingle" name="selectSingle" class="form-control">
      <option value="opt1">Option one</option>
      <option value="opt2">Option two</option>
    </select>
    <p class="help-block">help</p>
  </div>
</div>

<div class="form-group">

  <!-- Select multiple -->
  <label class="col-sm-4 control-label" for="selectMultiple">Select Multiple</label>
  <div class="col-sm-7">
    <select id="selectMultiple" name="selectMultiple" class="form-control" multiple="multiple">
      <option value="opt1">Option one</option>
      <option value="opt2">Option two</option>
    </select>
    <p class="help-block">help</p>
  </div>
</div>